<tr>
    <% if(!typeof counter === 'undefined')  { %>
    <td> <% counter += 1 %>  </td>
    <td class="count">
        <%= counter + "." %>
    </td>
    <% } %>
    <td class="votelink">
        <img src="https://news.ycombinator.com/grayarrow.gif" 
            class="votearrow <%= contribution.upvoted.toString().includes(userId) ? 'voted' : '' %>" 
            alt="upvote" id="vote_<%= contribution._id %>" 
            onclick="vote('<%= contribution._id %>')">
    </td>
    <td class="athing">
        <% if (contribution.contributionType == 'url') { %>
            <a href="<%= contribution.content %>"><%= contribution.title %></a> | <a href="http://<%= contribution.shortUrl %>"><%= contribution.shortUrl %></a>
        <% } else if (contribution.contributionType == 'ask') { %>
            <a href="item?id=<%= contribution._id %>">Ask HN: <%= contribution.title %></a>
        <% } else if (contribution.contributionType == 'comment' || contribution.contributionType == 'reply') { %>
            <div class="athing">
                <%= contribution.content %>
            </div>
        <% } %>
    </td>
</tr>
<tr>
    <% if(!typeof counter === 'undefined')  { %>
    <td></td>
    <td></td>
    <% } %>
    <td></td>
    <td class="subtext">
        <span><span id="votes_<%= contribution._id %>"><%= contribution.upvoted.length %></span> Points by 
            <%if(typeof contribution.user === "undefined"){%>
                Undefined user
            <%}else{%>
                <a href="/user?id=<%=contribution.user._id%>"><%=contribution.user.username%></a> 
            <%}%> 
            <a href="item?id=<%= contribution._id %>"><%= contribution.since %> ago</a> | 
            <span onclick="unvote('<%= contribution._id %>')" 
                id="unvote_<%= contribution._id %>"
                class="<%= contribution.upvoted.toString().includes(userId) ? '' : 'unvoted' %>" ><a href="#"> unvote </a>| </span> 
            <a href="item?id=<%= contribution._id %>"><%= contribution.nComments %> comment/s</a></span>
    </td>
</tr>
<% if (contribution.contributionType == 'comment' || contribution.contributionType == 'reply') { %>
<form method="POST" action="comment">
    <input type="hidden" name="contribution" value="<%= contribution._id %>"/>
    <input type="hidden" name="top" value="<%= contribution.topParent %>"/>
    <tr>
        <td>
        </td>
        <td>
            <textarea name="text" rows="4" cols="49"></textarea>
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            <button type="submit">Reply</button>
        </td>
    </tr>
</form>
<% } %>