<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <header>
    <% include ../partials/nav.ejs %>
  </header>
  <main>
    <%if (logged){%>
      <table>
        <tr>
          <td>user:</td><td><input type="text" value="<%=user.username%>"></td>
        </tr>
        <tr>
          <td>created:</td><td><input type="text" value="<%=createdAt%>"></td>
        </tr>
        <tr>
          <td>karma:</td><td><input type="text" value="<%=user.karma%>"></td>
        </tr>
        <tr>
          <td>about:</td><td><input type="text" value="<%=user.about%>"></td>
        </tr>
      </table>
    <%} else{%>
      <table>
        <tr>
          <td>user:</td><td><%=user.username%></td>
        </tr>
        <tr>
          <td>created:</td><td><%=createdAt%></td>
        </tr>
        <tr>
          <td>karma:</td><td><%=user.karma%></td>
        </tr>
        <tr>
          <td>about:</td><td><%=user.about%></td>
        </tr>
      </table>
    <%}%>
  </main>
  <% include ../partials/footer.ejs %>
</body>
</html>