<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <header>
    <% include ../partials/nav.ejs %>
  </header>
  <main>
    <%if (logged){%>
      <form action="/updateuser/<%=user._id%>" method="POST">
        <table>
          <tr>
            <td>user:</td><td><%=user.username%></td>
          </tr>
          <tr>
            <td>created:</td><td><%=createdAt%></td>
          </tr>
          <tr>
            <td>karma:</td><td><%=user.karma%></td>
          </tr>
          <tr>
            <td><label for="about">about:</label></td><td><textarea type="text" name="about" id="about" cols="60" rows="5"><%=user.about%></textarea></td>
          </tr>
          <tr>
            <td></td><td><a href="submitted?id=<%=user._id%>">submissions</a></td>
          </tr>
          <tr>
            <td></td><td><a href="threads?id=<%=user._id%>">comments</a></td>
          </tr>
          <tr>
            <td></td><td><a href="/upvoted?id=<%=user._id%>">upvoted submissions</a>/<a href="/upvoted?id=<%=user._id%>&comments=t">comments</a></td>
          </tr>
        </table>
        <button type="submit">update</button>
      </form>
    <%} else{%>
      <table>
        <tr>
          <td>user:</td><td><%=user.username%></td>
        </tr>
        <tr>
          <td>created:</td><td><%=createdAt%></td>
        </tr>
        <tr>
          <td>karma:</td><td><%=user.karma%></td>
        </tr>
        <tr>
          <td>about:</td><td><%=user.about%></td>
        </tr>
        <tr>
            <td></td><td><a href="submitted?id=<%=user._id%>">submissions</a></td>
          </tr>
          <tr>
            <td></td><td><a href="threads?id=<%=user._id%>">comments</a></td>
          </tr>
      </table>
    <%}%>
  </main>
  <% include ../partials/footer.ejs %>
</body>
</html>